html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 50%;
  border: 1px solid black;
  flex-direction: column; /* Ensures content stacks vertically */
}

.App {
  text-align: center;
}

.addForm {
  margin: 10px;
}
